/* Utility */

.container {
  padding: 0 1rem;
}

/* Navigation */

#main-nav .container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

#main-nav span {
  display: block;
  color: #333;
  font-style: italic;
}

#main-nav .container ul {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

#main-nav .container ul li a {
  padding: 0.5rem;
  margin: 0 0.25rem;
  font-weight: bold;
}

/* Latest Post */
#showcase .showcase-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

/* Page Layout */

#page-layout .page-layout-container,
#home-posts .articles-container,
#additional-info .additional-info-container {
  grid-template-columns: 1fr;
}

#home-posts {
  grid-column: auto;
  grid-row: auto;
}

#additional-info {
  grid-column: auto;
  grid-row: auto;
}

/* Blog Post Layout */
#blog_post_article .page_container {
  grid-template-columns: 1fr;
}

#blog_post_article .post {
  grid-column: auto;
  grid-row: auto;
}

#additional-info {
  grid-column: auto;
  grid-row: auto;
}

#blog_post_article .response_form {
  grid-column: auto;
  grid-row: auto;
}

/* Aside */
#additional-info .card {
  text-align: center;
}

#additional-info .social {
  justify-content: center; 
}

#additional-info .social a{
  padding: 0 1rem;
}

/* Recommended Posts */
#recommended .recommended_container {
  grid-template-columns: 1fr;
  padding: 2rem;
}

#recommended .recommended_container h4 {
  grid-column: auto;
}

@media(max-width: 600px) {

  #showcase .showcase-container {
    height: 70vh;
  }

  #page-layout .container {
    padding: 0;
  }

  #blog_post_article .container {
    padding: 0;
  }

  #recommended .recommended_container {
    padding: 1rem;
  }

  /* Footer */
  #main-footer {
    padding: 0 1rem;
  }
}
